/* Always present */
body {
  width: 100%;
}

div.cms .cms-toolbar,
div.cms .cms-toolbar-trigger {
  position: absolute;
  top: -5px;
}
div.cms .cms-toolbar {
  min-width: 600px;
  min-height: 135px;
}
div.cms .cms-toolbar:not([style*="margin-top: 0px;"]) {
  display: none;
}
div.cms .cms-toolbar .cms-toolbar-right {
  top: 82px;
  left: 0;
  z-index: 1;
  padding: 0 0 0 15px;
}
div.cms .cms-toolbar .cms-toolbar-item-navigation {
  clear: left;
  margin: -5px 0 0 -10px;
}
div.cms .cms-toolbar-trigger {
  border: 0;
  outline: 1px solid #ddd;
}

#logo {
  margin: 20px 0 0 8px;
}
#tabs {
  position: absolute;
  top: 0;
  right: 8px;
}
#tabs > #tab_hackfest {
  position: absolute;
  top: 30px;
  margin: 0;
  right: 0;
  opacity: .8;
}
#tabs > #tab_hackfest p,
#tabs > #tab_hackfest a {
  border-radius: 5px;
}
#topsearch {
  right: 8px;
}

.header .nav {
  padding: 0 10px;
}
#menu {
  display: block;
  border: 0;
}
#menu > li {
  display: list-item;
  float: left;
}
#menu > li > a {
  padding: 10px 15px;
  border: 0;
  font-size: 13px;
}
#menu > li.selected > a,
#menu > li.ancestor > a {
  padding: 9px 14px;
  border: 1px solid #5a5a5a;
}
#menu > li:last-child > a {
  border-radius: 0;
}
#menu li li.main {
  display: list-item;
}

body > .footer {
  padding: 10px;
}

#final-footer > span {
  display: block;
  padding: 0;
}
#final-footer > a {
  white-space: nowrap;
}


/* Homepage */
#banners {
  position: relative;
}
#banners > div {
  top: 0;
  left: 0;
  right: 0;
}
#banners > div > div {
  width: auto;
}

#shield .tabs {
  width: calc(100vw - 38px);
}
#shield .tabs > li > a,
#shield .tabs > li > div {
  position: relative;
  padding: 14px;
}
#shield .tabs strong {
  margin: 0 24px 8px 0;
  font-size: 16px;
}
#shield .tabs li > a > img {
  position: absolute;
  top: 6px;
  right: 4px;
  float: none;
  margin: 0;
  width: 24px;
  height: 24px;
}

#columns {
  padding-left: 12px;
  padding-right: 12px;
  background: transparent;
}
#columns > .column,
#columns > .column:last-child {
  display: block;
  margin-bottom: 32px;
  padding: 0;
  width: auto;
  border-right: 0;
}


/* Various contents */
ul,
ol {
  padding-left: 20px;
}

#content {
  margin-bottom: 0;
  padding: 20px 12px;
  background: transparent;
  word-wrap: break-word;
}
#content > div.wrapper {
  margin: -20px -12px;
  padding: 20px 12px;
}

#left-column,
#right-sidebar {
  float: none;
  padding: 0;
  width: auto;
}
.page #left-column > h2:first-child,
#right-sidebar {
  margin-top: 3.5ex;
}

table.bioitem p.bio {
  min-height: 104px;
}
.bioitem a.link {
  min-width: 120px;
  min-height: 120px;
  line-height: 117px;
}
.bioitem a.link img {
  max-width: 120px;
  max-height: 120px;
}

#profile {
  padding: 12px;
  border-radius: 0 0 10px 10px;
}
#profile ~ #left-column,
#profile ~ #right-sidebar {
  padding: 0 12px;
}

.item .image {
  padding: 12px;
}
.item .image img {
  max-width: 100%;
}

.page img {
  max-width: 100%;
}
.page > .donationlogo:first-child {
  position: relative;
  mix-blend-mode: hard-light;
}
.page > .donationlogo:first-child:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, gray, transparent 30%);
}
div.donationpicparagraph img {
  margin: 12px 0 12px 12px;
}

#toc {
  font-size: inherit;
  line-height: inherit;
}
div.toc,
#toc.right {
  margin-right: 0;
}
#toc.inline h2 {
  margin-bottom: 1ex;
}



@media screen and (max-width: 599px) {
  /* Always present */
  #cleartop {
    height: 140px;
  }
  #logo {
    margin-top: 28px;
  }
  #topsearch {
    top: 100px;
  }


  /* Homepage */
  #shield .tabs > li > a,
  #shield .tabs > li > div {
    padding: 10px;
  }
  #shield .tabs strong {
    font-size: 14px;
  }


  /* Various contents */
  .item .title h2 {
    clear: right;
    padding-top: 12px;
  }
  .item div.desc,
  .item div.side,
  .item .side h2 {
    display: block;
    width: auto;
  }
  .item .desc {
    min-height: auto;
  }
  .item .side {
    border-left: 0;
  }

  .article,
  .article h2,
  .article .readmore {
    padding-left: 0;
    padding-right: 0;
  }
  .article.unpub {
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .article p {
    margin: 5px 0;
  }

  #toc.right,
  #toc.inline {
    float: none;
    margin: 1em -8px;
    padding: 1ex 8px;
    width: auto;
  }
}



@media screen and (max-width: 459px) {
  /* Always present */
  #cleartop {
    position: relative;
    height: 172px;
    text-align: center;
  }
  #logo {
    display: inline-block;
    float: none;
    margin: 0;
    padding-top: 44px;
    white-space: nowrap;
    text-align: left;
  }
  #header-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  #tabs {
    display: inline-block;
    position: static;
    float: none;
    margin-left: -5px;
  }
  #tabs > li.dropdown > div {
    text-align: left;
  }
  #tabs > #tab_hackfest {
    white-space: normal;
    left: 4px;
    right: 4px;
  }
  #tabs > #tab_languages > div {
    left: 0;
    right: auto;
    border-radius: 0 5px 5px 5px;
  }
  #tabs > #tab_languages > div > p:first-child a {
    border-radius: 0 5px 0 0;
  }
  #topsearch {
    top: 132px;
  }

  .header .nav {
    margin: 0 8px 8px;
    padding: 0;
    border: 0;
    border-radius: 0 10px 10px 10px;
    background-image: linear-gradient(to right, #4d4d4d, #1a1a1a);
  }
  #menu-toggle {
    display: block;
  }
  #menu {
    display: none;
    position: relative;
    margin: 0 0 16px;
  }
  #menu.shown {
    display: block;
  }
  #menu > li {
    float: none;
  }
  #menu > li > a {
    padding: 8px 12px;
    text-align: left;
  }
  #menu > li:first-child > a {
    border-top-right-radius: 10px;
  }
  #menu li:last-child:not(.activated) > a,
  #menu li:last-child > ul {
    border-radius: 0 0 10px 10px;
  }
  #menu > li > a,
  #menu > li.selected > a,
  #menu > li.ancestor > a {
    border: 0;
    border-top: 1px solid #5a5a5a;
    border-bottom: 1px solid #333;
  }
  #menu > li.selected > a,
  #menu > li.ancestor > a {
    background-image: linear-gradient(to right, #333333, #4d4d4d);
  }
  #menu > li.activated > a,
  #menu > li:hover > a,
  #menu > li > a:focus {
    background: rgba(0, 0, 0, .5);
  }
  #menu li ul {
    position: static;
    width: 100%;
    border: 0;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.7);
  }
  #menu li:hover:not(.clicked):not(.activated) > ul {
    display: none;
  }


  /* Homepage */
  #banners > div > div {
    margin: 0;
  }
  #banners > div > div > p.text {
    font-size: 16px;
  }

  #shield .tabs:not(.expanded) {
    font-size: 0;
  }
  #shield .tabs > li > a,
  #shield .tabs > li > div {
    padding: 8px;
  }
  #shield .tabs:not(.expanded) li > a > img {
    position: static;
    float: right;
  }
  #shield .tabs:not(.expanded) strong {
    margin-right: 0;
    font-size: 12px;
  }
  #shield .tabs.expanded > li {
    display: block;
    width: auto;
  }
  #shield .tabs.expanded > li:first-child {
    border-radius: 5px 5px 0 0;
  }
  #shield .tabs.expanded > li:last-child {
    border-radius: 0 0 5px 5px;
  }
}
